@media only screen and (min-width: 1000px) {

   /* ----------Navigation------------------- */

    .navigation {
      display: flex;
      position: relative;
      border: 0;
    }
  
    .navigation .nav-item {
      padding: 0;
      min-width: 0px; 
    }

    #close-button {
      display: none;
    }
    .hamburger-button {
      display: none;
    }
  
    .navigation .nav-item:hover {
      color: #2E86AB;
      background-color:white;
    }
  
    nav ul {
      display: flex;
      column-gap: 30px;
      overflow: hidden;
      text-align: center;
    }

  
   nav button{ display:none;}

/* ------------------Main-------------------------- */

   .main-content{
      grid-template-columns: repeat(4 , 1fr);
      justify-items: stretch;
      padding: 1em 4em 1em 4em;
   }
  
   .hero{
      grid-area: 1 / 2 / 3 /4;
      
   }

   .new-release{
      grid-area: 3 / 2 / 3 / 4;
   }

   .spotlight{
      grid-area: 1 / 4 / 4 / 4;
      grid-template-columns: 1fr;
      align-self: stretch;
   }
   .join{
      display: block;
      grid-area: 3 / 1 / 3 / 1;
   }
   
   .event-weather-combo{
      grid-template-columns: 1fr;
      grid-area: 1/1/3/1;
      align-self: stretch;
   }

   .event{
      grid-area: 1/1/1/1;
   }
   
   .weather {
      grid-area: 2/1/2/1;
      width: 100%;
   }

   .spotlight-3{
      display: block;
   }





/* ------------------Discover.html-------------------------- */


.discover-ul {
   display: flex;
   column-gap: 15px;
   overflow: hidden;
   text-align: center;
 }

.discover-main{
   justify-content: space-between;
   flex-wrap: nowrap;
   max-width: 1100px;
   margin: 0 auto;
   box-shadow: 1px 1px 12px #353535;
   margin-bottom: 1em;
   column-gap: 15px;
 

}



/* -----------------join.html------------------- */


.info-section{
   display:grid;
   grid-template-columns: 1fr 1fr;
   margin-bottom: 3em;
}

.contact-info{
   grid-column: 1;
   grid-row: 1;
   align-self:center;
   justify-self: end;
   width: 70%;
}


.info-section img{
   grid-column: 2;
   justify-self: start;
  align-self: center;

}

.grandMaster{
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin: 4rem 0 4rem 0;
}



.grandMaster img{
   justify-self: end;
   margin-right: 3rem;
}

.grandMaster-info{
   margin-left: -3em;
   align-self:center;
   justify-self: start;
   width: 70%;
}






   }














