@media only screen and (min-width: 1005px) {


/* ----------Navigation------------------- */

.navigation {

margin: 0 auto;
}

nav ul{
   column-gap: 2rem;
   font-size: 1.5rem;
}

/* ---------------Main--------------------- */

.who-content{
   grid-template-columns: 400px 1fr;
   max-width: 80%;
   margin: 0 auto;

}

.who-image{
  grid-column: 1;
  grid-row: 1/-1;
  justify-self: right;
}

.who-content p{
grid-column: 2;
grid-row: 1/-1;
align-self: center;
padding: 1rem;
margin-top: 4rem;
}


.who-content h2{
justify-self: center;
font-size: 2.5rem;
grid-column: 2;
grid-row: 1;
align-self: start;
      }


.hero-quote p{
   font-size: 1.5rem;
  
}

.featured{
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.weather-homepage{
   padding: 1rem 0 1rem 0;
}



.today-weather-homepage{
   
margin: auto;
width: 80%;
align-self: center;
height: 80%;
   
   }
   
   .three-day-weather{
   
      margin: auto;
      width: 80%;
      align-self: center;
      height: 80%;
   }

.featured-temple{
   margin-top: -0.6rem;
}


/* ------------ reservation.html------------------ */


.reserve-section{
   max-width: 900px;
   margin: 3rem auto;
 
 }

 .contact-form{
   width: 850px;
 }


/* ------------ temples.html------------------ */


 
 .temple-card{
   margin: 1rem auto;
max-width: 1280px;
 }

 
/* ------------ service.html------------------ */


 
 .external-links{
   margin: 0 auto;
   width: 96%;
   max-width: 1200px;
 }
 
 
 
 .amenities, .specialized-services{
   margin: 1rem auto;
   width: 86%;
   max-width: 1000px;
 }
 
 
/* -----------------reception.html / missionary.html------------- */


 .subpage-title{

}


.subpage-details{
   
/* max-width: 1200PX; */
margin: 1rem 12%;
}

.service-subpage-content{
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 1rem;
   margin: 2rem 0;
   align-items: center;
   justify-items: center;
   padding: 0 1rem 0 1rem;

}

.service-subpage-content img{
   max-width: 100%;
}

.service-subpage-content p{
   max-width: 90%;
}

.grid-2 img{
   grid-column: 2/-1;
}

.grid-2 p{
   grid-column: 1;
   grid-row: 1;
}




.contact-us{
   max-width: 1000px;

}




}
 























