
h1, h2, h3, h4, h5, h6 {font-family: 'Merriweather', serif; }
p {font-family: 'Merriweather Sans', sans-serif;}

body{
   background-color: #EDEDE9;
}

/* -------------------HEADER----------------- */

.weather-alert{
   font-family: 'Merriweather', serif; 
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   column-gap: 1rem;
   row-gap: .5rem;
   padding: 0.5rem;
   background-color: #0B7983;
   color: white;
   box-shadow: 1px 1px 10px #a0a0a0;
   text-shadow: 1px 1px 10px black;
   padding: 1rem 20%;
   position: absolute;
   z-index: 4;
}

.weather-alert button{
   padding: .15rem 1rem .25rem 1rem;
   background-color: red;
   color: white;
   border: 1px solid white;
   text-shadow: 1px 1px 10px black;
   max-height: 2rem;
}

.header-content{
   background-color: #D5BDAF;
   min-height: 6rem;
   display: grid;
   grid-template-columns: 1fr;
   align-items: center;
   justify-items: start;
   box-shadow: 1px 1px 10px #a0a0a0;
}

.hamburger-button{
   margin-left: 1rem ;
}

.nav-logo{
   text-align: right;
   margin-right: 3rem;
}

.nav-logo img{
   position: absolute;
   top:0rem;
   right: 2rem;
   background-color: #E3D5CA;
   width: 100px;
}

/* ---------------Navigation--------------------- */
nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
 }

 .navigation {
   display: none;
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   background: #D6CCC2;
   border-right: 1px solid gray;
   z-index: 2;
 }

 .navigation .nav-item {
   display: block;
   padding: 15px 30px;
   min-width: 200px;
   display: flex;
   justify-content: space-between;
 }

 .navigation .nav-item {
   text-decoration: none;
   color: #353535;
   font-weight: bold;
   font-size: 1.25em;
 } 
 .open {
   display: block;
 }

 .navigation .nav-item:hover {
   cursor: pointer;
   background-color: #0B7983;
   color: #fff;
 }


 #close-button {
   border-bottom: 1px solid gray;
 } 

.menu-button{
   font-size: 1.85em;
   background-color: #0B7983;
   color: #fff;
   border: 1px solid #0B7983;
   border-radius: 5px;
   cursor: pointer;
}


/* ---------------Main--------------------- */

.who-we-are{
   background-color: #F5EBE0;
   text-align: center;
   padding: 2rem;
   padding-top: 3rem;
   border: 1px solid lightgray;
}

.who-image img{
   max-width: 400px;
   width:100%;
   box-shadow: 1px 1px 10px #a0a0a0;
}

.who-content h2{
font-size: 1.5rem;
   }


.hero-section {
   background-color: #D8D0C1;
   width: 100%;
   margin-bottom: 10px;
}

.hero-section img {
   width: 100%;
   margin: 0 auto;
}

.hero-quote p{
   font-family: 'Charm', cursive;
   text-align: right;
   padding: 1.5rem;
   margin: 0;
   font-weight: bold;
   box-shadow: 1px 1px 10px #a0a0a0;
}

.hero-img1{
   background-image:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/hero-image.jpg");
}

.hero-image button {
   cursor: pointer;
   font-size: 1.5rem;
   padding: .5rem 2rem .5rem 2rem;
   background-color: #0B7983;
   color: #fff;
   border: 1px solid #0B7983;
}

.hero-image form, .hero-image div {
   justify-self: center;
   grid-column-start: 1;
   grid-column-end: 1;
   grid-row-start: 2;
   grid-row-end: 2;
}

.hero-image {
   position: static;
   height: 300px;
   background-attachment: scroll;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   display: grid;
   margin: 0px;
   justify-items: center;
   background-attachment: fixed;
 }

.weather-homepage{
   text-align: center;
   background-color: #F5EBE0;
   padding: 1rem 0 2rem 0;
   margin-top: -0.6rem;
}

.today-weather-homepage{
font-family: 'Merriweather Sans', sans-serif;
padding: 1rem 0 1rem 0;
background-color: #E3D5CA;
margin: 0 20% 0 20%;
box-shadow: 1px 1px 10px #a0a0a0;
}

.today-weather h3{
   background-color: #0B7983;
   color: #fff;
   width: 80%;
   margin: 0 auto;
   padding: 0.5rem;
   text-shadow: 1px 1px 10px #000000;
   box-shadow: 1px 1px 10px #a0a0a0;
}

.three-day-weather{
   font-family: 'Merriweather Sans', sans-serif;
   background-color: #E3D5CA;
   padding: 1rem 0 1rem 0;
   margin: 1rem 20% 0 20%; 
   box-shadow: 1px 1px 10px #a0a0a0;
}

.three-day-weather h3{
   background-color: #0B7983;
   color: #fff;
   width: 80%;
   margin: 0 auto;
   padding: 0.5rem;
   text-shadow: 1px 1px 10px #000000;
   box-shadow: 1px 1px 10px #a0a0a0;
   align-self: center;
}

.featured-temple{
   text-align: center;
   background-color: #F5EBE0;
   padding: 1rem 0 1rem 0;
   margin-top: 1rem; 
}

.featured-temple img{
   max-width: 80%;
   box-shadow: 1px 1px 10px #a0a0a0;
}

.featured-temple p{
   max-width: 80%;
   margin: 1rem auto;
}


/* -----------------Footer------------------- */

footer{
   background-color: #D5BDAF;
   text-align: center;
   padding: 1.5rem;
}

.footer-info ul{
   list-style-type: none;
   text-align: center;
   margin: 0 auto;
   max-width: 235px;
   padding: 1rem 0;
}

.social-links ul{
   list-style-type: none;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   padding-top: 1rem;
}

.footer-info ul li{
display: grid;
grid-template-columns: 48px 1fr;
justify-items: start;
align-items:center;
text-align: start;
}

.phone-icon{
   width: 35px;
   padding: 6.5px;
}

/* ------------ reservation.html------------------ */
.hero-img2{
   height: 100%;
 }
.reservation-title{
   margin: 4rem 0 3rem 0;
   background-color: #E3D5CA;
 
 }

.reservation-title{
   padding: 10px;
}
 
.form-section{
   box-shadow: 1px 1px 10px #a0a0a0;
   margin-bottom: 1rem;
 }

.contact-form {
   color:#09555c;
   background-color: #F5EBE0;
   padding: 25px; 
}

.contact-form button {
   margin-top: 25px;
}

.contact-form p, label {
   font-weight: bold;
   font-family: 'Merriweather', serif; 
}


.form-inquiry li, .preferred-contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-inquiry > li > label, .form-inquiry li p {
  flex: 1 0 20rem;
  max-width: 220px;
  margin: 10px 10px 10px 0;
}

.form-inquiry {
   flex: 1 0 220px;
   padding: 0 5% 0 10%;
} 

.form-inquiry > li > label + *{
  flex: 1 0 220px;
}

.form-inquiry li button {
   margin-left: auto;
   padding: .5rem 1.5rem;
   color: white;
   background-color: #0B7983;
   border: 1px solid #0B7983;
   border-radius: 5px;
   font-size: 1.5rem;
 }

 .form-inquiry li button:hover {
   cursor: pointer;
 }

 .preferred-contact li, .form-radio li {
   margin: 5px;
   flex: 1 100px;
 }

 .preferred-contact, .form-radio li {
   justify-content: space-between;
 }

 .form-radio li {
    width: 50px;
    display: inline;
 }

 .form-radio label {
   padding: 0.5rem;
 }

.preferred-contact label{
   padding: 0.5rem;
}

.form-radio > li > input[type=radio], .preferred-contact > li > input[type=checkbox]{
   transform: scale(1.5);  
   cursor: pointer;
}

.thank-you-main-content{
   padding: 3rem 2% 3rem 2%;

}

.thank-you-main-content button{
   border:2px solid #0B7983;
   background-color: #0B7983;
   color: white;
   border-radius: 1rem;
   padding: .75rem 1.5rem;
}

.thank-you-main-content button:hover{
   background-color: #ececec;
   color: #0B7983;
   cursor: pointer;
}

/* ------------ temples.html------------------ */

.title{
   margin: 4rem 0 2rem 0;
   text-align: center;
}

.temple-card{
   margin: 1rem 0;
   padding: 1rem 5% 2rem 5%;
   background-color: #F5EBE0;
   box-shadow: 1px 1px 10px #a0a0a0;
}

.like-button{
   height: 2rem;

}

.card-header{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.card-header h1{
   font-size: 1.5rem;
}

.temple-card img{
   max-width: 100%;
   padding: 0;
   border-radius: 5px;
}

.temple-card ul{
   list-style-type: none;
   padding: 0;
}

.temple-card ul li{
   padding: .25rem 0;
   font-family: 'Merriweather Sans', sans-serif;
   
}

.temple-details{
   font-family: 'Merriweather Sans', sans-serif;
}

.temple-card a{
font-size: 1.5rem;
font-family: 'Merriweather', serif;
color: #0B7983; 
}

.temple-card a:hover{
   cursor: pointer;
   text-shadow:1px 1px 2px #0B7983;
}

.details{
   background-color: #E3D5CA;
   margin: 1rem -5% -2rem -5%;
   padding: .25rem 5% 2rem 5%;
}

.temple-card-weather{
   display: flex;
   align-items: center;
   font-family: 'Merriweather Sans', sans-serif;
}

.temple-card-weather img{
   width: 80px;
   padding-right: 1rem;
}

/* ------------ service.html------------------ */

.hero-img3 h1{
   margin: 100px 0;
   background-color: rgba(255, 255, 255, 0.7);
   padding: 3rem;
   border-radius: 5rem;
}

.hero-img3{
   height: 300px;
   background-image:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/services-hero.jpg");
}

.button-service{
   margin: 1rem 0;
}

.button-service a img:hover{
   box-shadow: 0px 0px 20px #1b1b1b;
}

.button-service a img{
   max-width: 100%;
   border-radius: 5px;
}

.button-title{
   position: absolute;
   padding-left: 5px;
   color: white;
   font-size: 1.15rem;
   text-shadow: 1px 1px 8px black;
}

.amenities, .specialized-services{
   padding: 1rem;
   margin: 1rem 0;
   background-color: #F5EBE0;
   box-shadow: 1px 1px 10px #a0a0a0;
}

/* -----------------reception.html / missionary.html------------- */

.hero-img4{
   background-image:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/reception-background.jpg");
   height: 100%;
}

.subpage-title{
   margin: 4rem auto;
   text-align: center;
   background-color: rgba(255, 255, 255, 0.7);
   padding: 3rem;
   border-radius: 5rem;
}

.missionary-title{
   background-color:rgba(255, 255, 255, 0);
   padding:0;
}

.subpage-details{
   padding: 4rem 1rem 2rem 1rem;
   margin: 5rem 0;
   background-color: #F5EBE0;
   box-shadow: 1px 1px 10px #a0a0a0;
   text-align: center;
}

.service-subpage-content img{
   max-width: 80%;
   box-shadow: 1px 1px 10px #a0a0a0;
   border-radius: 10px;
}

.service-subpage-content p{
   max-width: 80%;
   margin: 1rem auto 2rem auto;
}

.contact-us{
   text-align: center;
   background-color: #E3D5CA;
   box-shadow: 1px 1px 10px #a0a0a0;
   padding: 3rem;
}

.contact-us button{
   cursor: pointer;
   font-size: 1.5rem;
   padding: 0.5rem 2rem 0.5rem 2rem;
   background-color: #0B7983;
   color: #fff;
   border: 1px solid #0B7983;
}

.contact-us button:hover{
   background-color: #EDEDE9;
   color: #0B7983;
   border: 1px solid #0B7983;
}

/* --------------contact.html------------- */

.contact-section{
   margin: 5rem 0;
}


































