@media only screen and (min-width: 680px) {

header{
   font-size: 1.75em;
}

nav ul { 
      display: flex;
      justify-content: center;
      padding-right:40px;
      font-size: 0.9em;
      
      }
nav ul li {
   flex: 1 1 auto; 
} 

}


