@media only screen and (min-width: 680px) {

header{
   flex-flow: row;
   column-gap: 10px;
}


.title{
   flex-grow: 2;
   text-align: center;
}

nav ul { 
      display: flex;
      justify-content: center;
      padding-right:40px;
      font-size: 0.9em;
      
      }
nav ul li {
   flex: 1 1 auto; 
} 

}


